/**
   * Setting heading paramters
   */
.heading__primary {
}

.heading__secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(to right, rgba($Light_green, 0.8), rgba($Dark_green, 0.8));
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;
  background-clip: text;
  // below is just safety net for browser which hasnt implement background-clip
  -webkit-background-clip: text;
  color: transparent;

  &:hover,
  &:focus {
    transform: scale(1.1) skew(8deg, 4deg);
  }
}

.heading__tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $grey;
}

.paragraph {
  font-size: 1.6rem;
  color: $grey;
  line-height: 1.6;
}
