/**
 * Mixin and functions.
 */
/**
   * when using floats in the a container by default the contained body is collapsed. 
   * below is the fix to retain the container body.
   * this only happens to containers whose children uses float for positioning.
   */
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}