/**
 * Setting Sass color variables.
 */
$white: #fff;
$black: #000;
$grey: #777;
$Light_green: #7ed56f;
$Medium_green: #55c57a;
$Dark_green: #28b485;
$gary-light: #f7f7f7;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

/** 
 * Setting Sass length variables/
 */
 $grid-width: 140rem;
 $gutter-width: 5rem;
 $gutter-height: 10rem;